@using UAS.Core.DAL.Common.Model;

@{
    var courseAttendanceStatistic = ViewBag.CourseAttendanceStatistic as Statistic;
}

@functions{
    public bool HasStatistics(Statistic statistic)
    {
        foreach (var key in statistic.Summary)
        {
            if (key.Value > 0)
            {
                return true;
            }
        }
        return false;
    }
}

@if (@courseAttendanceStatistic != null && HasStatistics(courseAttendanceStatistic))
{
    <center>
        <h5 class="text-uppercase">Gráfica Asistencia</h5>
        <canvas id="doughnutChart" width="140" height="140"></canvas>
    </center>
}

