<table class="table small m-b-xs">
    <tbody>
        <tr>
            <td>
                <strong><span class="label label-success">14</span></strong> Asistentes
            </td>
            <td>
                <strong><span class="label label-warning">22</span></strong> Inasistentes
            </td>

        </tr>
        <tr>
            <td>
                <strong><span class="label label-primary">61</span></strong> Matriculados
            </td>
            <td>
                <strong><span class="label label-danger">4</span></strong> No matriculados
            </td>
        </tr>
    </tbody>
</table>