
@{
    ViewBag.Title = "Salón de Docentes";
}

<div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>@ViewBag.Title.ToString().ToUpper()</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Asistencia</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title.ToString()</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
