<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UASEntities" connectionString="metadata=res://*/Model.UASModel.csdl|res://*/Model.UASModel.ssdl|res://*/Model.UASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOCALHOST;initial catalog=UAS;persist security info=True;user id=sa;password=Adm1n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>