@{
    ViewBag.Title = "Dashboard v.1";
}

<div class="row  border-bottom white-bg dashboard-header">
    
    <div class="row">
        <div class="jumbotron">
            @{
                var session = @ViewData["SESSION"] as UAS.Core.Session.Entities.Session;
                <h2>@Html.Raw(session.SessionId)</h2>
                <h2>@Html.Raw(session.SessionUser.Username)</h2>
                <h2>@Html.Raw(session.SessionUser.Password)</h2>
            }
        </div>
        </div>
    
</div>
